*{
    margin:0px;
    padding:0px;
    text-align:center;
}

h1{
    background-color: #081b31;
    color:white;
    height:5rem;
    line-height:5rem;
}

.choice{
    height:170px;
    width:170px;
}

img{
    height:150px;
    width:150px;
    object-fit: cover;
}